.main {
  width: 100vw;
  padding: 10px;
  font-family: monospace;
  display: flex;
}

.input {
  flex: 1;
}

.input textarea {
  width: 100%;
  min-height: 500px;
}

.output {
  margin-left: 20px;
  flex: 1;
}
